body 
{
    font-family: "Raleway", Arial, sans-serif
}
img {
    margin-bottom: -8px
}
.contiener {
    max-width:1500px
}
.w3-half img {
    width:60%;
}
#about img {
    width:300 px ;
    height:300 px;
}
form {
    margin:auto;
    width:60%;
}
@media (max-width:767px) {
    img{width: 300px;}
}
